<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitch</title>
    <link rel="stylesheet" href="statics/css/main.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div id="logo">
            <!-- <img src="../statics/logo/glitch.png" alt="logo"> -->
            <span>Glitch</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Menu</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="content">
            <div class="tagline">
                innovative and futuristic - evoke an exciting feeling
            </div>
            <h1>WE MAKE TECH FOR GOOD</h1>
            <form action="/upload-torrent/" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="file-label">Choose a file:</label>
                <input type="file" id="file-upload" name="file" class="file-input chose-file-button">
                <button type="submit" class="upload-button">Upload</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Video Streaming Service. All rights reserved.</p>
    </footer>
</body>
</html>
