{% extends 'layout.html' %}
<h1>{% block title %}Glitch {% endblock %}</h1>
{% block header %}{% endblock %}

{% block content %}
<h1>Glitch...</h1>
            <div class="tagline">
            Host a stream or join a team
            </div>
            <br>
            <a class="upload-button" href="/video" >Start Stream</a>
            <a href="" id="joinParty" class="upload-button" hx-trigger="click" hx-swap="outerHTML">Join Stream</a>
            <div id="join-form-container"></div>
                <!-- <button type="button" id="join-button" hx-trigger="click" hx-swap="outerHTML">Join</button> -->
            </div>
            <script>
                    document.getElementById("joinParty").addEventListener("click", function() {
                    var formContainer = document.getElementById("join-form-container");
                    formContainer.innerHTML = `
                         <form id="join-form" action="/join-party" method="post">
                            <input type="text" name="room"  placeholder="Enter the room code">
                            <button type="submit" id="join-button" hx-trigger="click" hx-swap="outerHTML">Join</button>
                            <button type="button" id="cancel-button" hx-trigger="click" hx-swap="outerHTML">Cancel</button>
                        </form>
                    `;
                    document.getElementById("cancel-button").addEventListener("click", function() {
                        formContainer.innerHTML = `
    
                            
                        `;
                    });
                });
            </script>

        </div>
{% endblock %}