
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitch</title>
    <link rel="stylesheet" href="statics/css/main.css">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div id="logo">
            <!-- <img src="../statics/logo/glitch.png" alt="logo"> -->
            <span>Glitch</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Menu</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="content">
            <div class="tagline">
                innovative and futuristic - evoke an exciting feeling
            </div>
            <h1>WE MAKE TECH FOR GOOD</h1>
            <video
            id="my-player"
            class="video-js"
            controls
            preload="auto"
            poster="//vjs.zencdn.net/v/oceans.png"
            data-setup='{}'>
            <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
            <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
            <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">
                    supports HTML5 video
                </a>
            </p>
        </video>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Video Streaming Service. All rights reserved.</p>
    </footer>
</body>
</html>
