{% extends 'layout.html' %}

<h1>{% block title %}Glitch{% endblock %}</h1>



{% block content %}
<h1>Streaming...</h1>
    <video id="my-player" class="video-js" controls preload="auto"
        data-setup='{}'>
		<source id="video-source" src="" type="">
		Your browser does not support the video tag.
	</video>
    </video>

	<script src="{{ url_for('statics', path='js/main.js') }}"> </script>
<script>
	
	function updateVideoPlayer(filePath) {
    const fileExtension = filePath.split('.').pop().toLowerCase();
    const mimeTypes = {
        mp4: 'video/mp4',
        mkv: 'video/x-matroska',
        avi: 'video/x-msvideo',
        mov: 'video/quicktime',
        wmv: 'video/x-ms-wmv'
    };

    const source = document.querySelector('#video-source');
    if (source) {
        source.src = filePath;
        source.type = mimeTypes[fileExtension] || 'video/mp4';
        if (video) {
            video.load();
        }
        currentVideoPath = filePath;
        console.log('Video source updated:', filePath);
    } else {
        console.error("Video source element not found");
    }
}

updateVideoPlayer('{{filepath}}')
</script>
{% endblock %}
